/* Roboto font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 3px 30px 50px 30px;
    background-color: #1F2937;
    height: 40px;
}

/* 
I would assume header.div would work but it doesn't, and I'm not sure why
Ended up making .logo to style it
Need to search up why this doesn't work 

header.div {
    color: yellow;
} 
*/

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    display: flex;
    gap: 15px;
    align-items: center;
}

ul a {
    text-decoration: none;
    color: #E5E7EB;
}

.intro-container {
    display: flex;
    padding: 0 80px 20px 80px;
    gap: 50px;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 5px;
}

.intro-left {
    flex-basis: 400px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #72daef;
    color: black;
}

.intro-right {
    display: flex;
    align-items: center;
}

.information-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.information-section h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    /* padding-bottom: 30px; */
    text-align: center;
}

.information-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
}

.mini-info {
    flex-basis: 150px;
    text-align: center;
}

.quote-section {
    padding: 70px;
    background-color: #E5E7EB;
    color: #1F2937;
    /* 
    I really wanted to make just the quote centered
    but it's making the quote and author centered 
    Not really sure how to fix or where to place the flex
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 10px;
}

.author {
    text-align: end;
    font-size: 22px;
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discord-section {
    padding: 50px;
}

.discord-join {
    padding: 50px;
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
}

.discord-left {
    flex-basis: 500px;
}

h3 {
    /* color: white; */
    font-size: 20px;
}

.discord-button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}